<div class="row px-3 pt-3 pb-2">
    <h3 class="w-full">Active Products</h3>    

    <div class="btns my-2">
        <button class="c-button bg-white txt-black mr-3 txt-bold">
            Print Product List
        </button>
        <button class="c-button bg-white txt-black txt-bold">
            Export Product list to CSV
        </button>
    </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{ loadingText }}</p>
</ngx-spinner>

<div class="row px-3 my-3">
    <table class="b-table table-responsive bg-white">
        <thead>
            <th>FROM</th>
            <th>LABEL</th>
            <th>ITEM</th>
            <th>NAME</th>
            <th>PRODUCT <br>PRICE</th>
            <th>PURCHASING <br>PRICE</th>
            <th>DETAILS</th>
            <th>ACTIONS</th>
        </thead>
        <tbody><tr *ngFor="let product of allProducts">
                <td>{{product.createdAt | date: 'shortDate'}}</td>
                <td>{{product.label}}</td>
                <td>{{product.articleNo}}</td>
                <td>{{product.name}}</td>
                <td>{{product.productPrice}}€</td>
                <td>{{product.purchasingPrice}}€</td>
                <td>Sa, So, planet, active, online, sample</td>
                <td>
                    <!-- <img src="../../../../assets/images/bread/23.png" /> -->
                    <img [routerLink]="['/settings/edit-product/', product.id]" src="../../../../assets/images/bread/19.png" class="s-img" />
                    <!-- <img src="../../../../assets/images/bread/33.png" /> -->
                </td>
            </tr>
            
        </tbody>
    </table>
</div>