.page-sidebar, .sidebar-user{
    background-color:#214369 !important ;
}
.sidebar-user{
    box-shadow: none !important;
}
.page-wrapper .page-body-wrapper .page-sidebar .sidebar-user h6{
    text-transform:lowercase !important;
}