<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{ loadingText }}</p>
</ngx-spinner>

<div class="row px-3 pt-3 pb-2">
    <div class="col-md-6">
        <h3>Open Item List</h3> 
    </div>   
    <div class="col-md-6 text-right">
        <select>
            <!-- <option value="Alll">All</option>
            <option value="Alll">All</option>
            <option value="Alll">All</option>
            <option value="Alll">All</option>
            <option value="Alll">All</option> -->
        </select> 
        <button class="c-button ml-3">--></button>   

    </div>   
</div>

<div class="row px-3 my-3">
    <table class="b-table table-responsive bg-white">
        <thead>
            
            <th>INOVICE NO</th>
            <th>DATE</th>
            <th>CODE</th>
            <th>REMINDER</th>
            <th>CUSTOMER</th>
            <th>STATUS</th>
            <th>PAYMENT</th>
            <th>ACCOUNT DETAILS</th>
            <th>INVOICE AMOUNT</th>
            <th>FEHLB</th>
            <th>JERK</th>
            <th>INVOICE</th>
            <th>INVOICE STATUS</th>
            <th>EMAIL</th>
            <th>ALL</th>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of allInvoices">
                <td>#{{invoice.invoiceNumber}}</td>
                <td>{{invoice.createdAt | date: 'shortDate'}}</td>
                <td></td>
                <td> </td>
                <td>{{invoice.CustomerInvoice.fName}} {{invoice.CustomerInvoice.lName}}</td>
                <td>
                    <ng-container *ngIf="invoice.CustomerInvoice.paymentType !== 'Direct debit'">
                        Open
                    </ng-container>
                    <ng-container *ngIf="invoice.CustomerInvoice.paymentType == 'Direct debit'">
                        Return debit
                    </ng-container>
                </td>
                <td>{{invoice.CustomerInvoice.paymentType}}</td>
                <!-- <td>AC:12141<br>
                BLZ:324235<br>
                OWN: waseem </td>
                <td>3.722€</td> -->
                <td>iban: {{invoice.CustomerInvoice.iban}}</td>
                <td>{{invoice.totalAmount}}</td>
                <td>
                    <img src="../../../../assets/images/bread/6.png"/>
                </td>
                <td></td>
                <td>
                    <img (click)="getPDF(invoice)" src="../../../../assets/images/bread/31.png" />
                </td>
                <td><img (click)="updateStatus(invoice)" src="../../../../assets/images/bread/8.png" />
                </td>
                <td><img (click)="sendEmail(invoice)" src="../../../../assets/images/bread/9.png" />
                </td>
                <td>
                    <form>
                        <input type="checkbox" id="all" name="all">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>