.searchbar{
    padding: 3rem 1rem;
    color: #fff !important;
}
.f-form{
    width: 100%;
    display: block;
}
.f-row{
    width: 100%;
    text-align: left;
    margin: 0 auto;
}
.form-input{
    outline: none !important;
    padding: 0.5rem ;
    background-color: transparent !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom:1px solid rgb(224, 210, 210) !important;
    width: 100%;
    height: 45px;
    color: #fff;
}
.form-input-select option{
    background-color: #214369;
}

.form-input::placeholder { 
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(224, 210, 210);
  }
  
  .form-input :-ms-input-placeholder { /* Internet 
    Explorer 10-11 */
    color: rgb(224, 210, 210);
  }
  
  .form-input ::-ms-input-placeholder 
    { /* Microsoft Edge */
        color: rgb(224, 210, 210);
  } 