<div class="searchbar">
   <form class="mt-5">
    <div class="row f-row mb-2">
        <input  class="form-input" type="text" placeholder="First Name"/>
    </div>
    <div class="row f-row mb-2">
        <input  class="form-input" type="text" placeholder="Last Name"/>
    </div>
    <div class="row f-row mb-2">
        <input  class="form-input" type="text" placeholder="Road  "/>
    </div>
    <div class="row f-row mb-2">
        <input  class="form-input" type="text" placeholder="Postcode "/>
    </div>
    <div class="row f-row mb-2">
        <input  class="form-input" type="text" placeholder=" District"/>
    </div>
    <div class="row f-row mb-2">
        <input  class="form-input" type="text" placeholder=" email"/>
    </div>
    <div class="row f-row mb-2">
        <input  class="form-input" type="text" placeholder=" phone Number"/>
    </div>
    <div class="row f-row mb-2">
        <input  class="form-input" type="text" placeholder="Customer Number "/>
    </div>
    <div class="row f-row mb-2">
        <select class="form-input">
            <option value="">Code</option>
            <option value="">Code</option>
            <option value="">Code</option>
            <option value="">Code</option>
            <option value="">Code</option>
        </select>
    </div>
    <div class="row f-row my-4 text-center">
        <button class="s-button">Start Search</button>
    </div>
   </form>
</div>
