<div class="row px-3 pt-3 pb-2">
    <h3 class="w-full">Product in this Category</h3>    
    <h6 class="my-2 w-full">Associations</h6>

    <div class="btns my-2">
        <button class="c-button bg-white txt-black mr-3 txt-bold">
            Connect with a file
        </button>
        <button class="c-button bg-white txt-black txt-bold">
            Connect with a product
        </button>
    </div>

</div>

<div class="row  pb-4 mx-0 my-3  ">
    <div class="col-md-4 bg-white pb-5">
        <h4 class="w-full text-bluish py-3">Offer of the month</h4>
        <table class="b-table table-responsive">
            <tbody>
                <tr class="tr1 bg-bluish">
                    <td>Id</td>
                    <td>123</td>
                </tr>
                <tr class="tr1 ">
                    <td>Name</td>
                    <td>Offer of the mounth</td>
                </tr>
                <tr class="tr1 bg-bluish">
                    <td>Description</td>
                    <td></td>
                </tr>
                <tr class="tr1">
                    <td>Created</td>
                    <td>11/11/20</td>
                </tr>
                <tr class="tr1 bg-bluish">
                    <td>Modified</td>
                    <td>12/12/20</td>
                </tr>   
            </tbody>
        </table>
    </div>
    <div class="col-md-8 ">
        <div class="row p-0 m-0">
            <table class="b-table table-responsive bg-white">
                <thead >
                    <th class="py-3">RELATED PRODUCT</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr> 
                        <td>
                            <img src="../../../../assets/images/bread/30.png" class="mr-2"/>
                            Offer-5 burgur rolls
                        </td>
                        <td class="text-right">
                            <button class="c-button bg-gray txt-black txt-bold">
                                Disconnect
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>