.f-row{
    width: 100%;
    margin: 0 auto;
}
.col-50{
    float: left;
    width: 50%;
    margin: 0.5rem 0;
}
.form-input{
    outline: none !important;
    padding: 0.5rem  0.75rem;
    background-color: #ced4da56 !important;
    border:0px !important;
    width: 100%;
    height: 50px;
}