<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{ loadingText }}</p>
</ngx-spinner>
<div class="row px-3 pt-3 pb-2">
    <h3>Billing</h3>    
</div>
<!-- <div class="row px-3">
     <form class="">
        <div class="col-md-3 p-0 my-2 mr-4">
            <button class="c-button">Create Invoice run</button>   
          </div>  
          <div class="col-md-4 p-0 my-2">
            <label>To</label>
                <input type="date" placeholder="date"/>    
          </div>    
    </form>
</div> -->

<div class="row px-3 my-3">
    <table class="b-table table-responsive bg-white">
        <thead>
            <th>ID</th>
            <th>From</th>
            <th>TO</th>
            <th>GROSS</th>
            <th>NET</th>
            <th>TAX</th>
            <th>SEPA CUSTOMERS</th>
            <th>SEPA AMOUNT</th>
            <th>SEPA</th>
            <th>ACTIONS</th>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of allInvoices">
                <td>{{invoice.id}}</td>
                <td>{{invoice.dateFrom}}</td>
                <td>{{invoice.dateTo}}</td>
                <td>{{invoice.grossAmount}}</td>
                <td>{{invoice.net}}</td>
                <td>{{invoice.vat}}</td>
                <td>{{invoice.sepaCustomers}}</td>
                <td>{{invoice.sepaAmount}}</td>
                <td> <span style="cursor: pointer;" (click)="generateXML(invoice)">All </span></td>
                <td>
                    <img src="../../../../assets/images/bread/1.png" class="mr-2" />
                    <img src="../../../../assets/images/bread/2.png" />
                </td>
            </tr>
        </tbody>
    </table>
</div>