<div class="row px-3 pt-3 pb-2">
  <h3>Delivery List</h3>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{ loadingText }}</p>
</ngx-spinner>
<div class="row px-3">
  <div class="col-md-4 p-0 my-2">
    <label>Mode</label>
    <select [(ngModel)]="deliveryList.tour">
      <option value="all">All</option>
      <option [value]="tour.id" *ngFor="let tour of allTours">
        {{ tour.name }}
      </option>
    </select>
  </div>
  <div class="col-md-4 p-0 my-2">
    <label>For</label>
    <input type="date" [(ngModel)]="deliveryList.date" placeholder="date" />
  </div>
  <div class="col-md-4 p-0 my-2">
    <button class="c-button" (click)="getDeliveryList()">Generate exit list</button>
  </div>
</div>
