<div class="row px-3 pt-3 pb-2">
    <h3 class="w-full">Inactive Products</h3>    

    <div class="btns my-2">
        <button class="c-button bg-white txt-black mr-3 txt-bold">
            Print Product List
        </button>
        <button class="c-button bg-white txt-black txt-bold">
            Export Product list to CSV
        </button>
    </div>

</div>

<div class="row px-3 my-3">
    <table class="b-table table-responsive bg-white">
        <thead>
            <th>FROM</th>
            <th>LABEL</th>
            <th>ITEM</th>
            <th>NAME</th>
            <th>PRODUCT <br>PRICE</th>
            <th>PURCHASING <br>PRICE</th>
            <th>DETAILS</th>
            <th>ACTIONS</th>
        </thead>
        <tbody>
            <tr>
                <td>12/12/20</td>
                <td>10</td>
                <td>10</td>
                <td>Fittybrotchen</td>
                <td>0,40€</td>
                <td>0,19000€</td>
                <td>Sa, So, planet, active, online, sample</td>
                <td>
                    <img src="../../../../assets/images/bread/23.png" />
                    <img src="../../../../assets/images/bread/19.png" class="s-img" />
                    <img src="../../../../assets/images/bread/33.png" />
                </td>
            </tr>
        </tbody>
    </table>
</div>