<div class="row px-3 pt-3 pb-2">
    <h3>Add Delivery Area</h3>    
</div>
<div class="row px-3 pt-3 pb-2 bg-white">
    <div class="col-md-6">
        <h6 class="w-full">Details</h6>
        <div class="row f-row mb-2 mx-0 ">
            <input  class="form-input" type="text" placeholder="Postcode"/>
        </div>
        <div class="row f-row mx-0 ">
            <textarea placeholder="Description" class="form-input-text"></textarea>
        </div>
        <div class="row f-row my-2 mx-0 ">
            <select class="form-input">
                <option value="0">State</option>
                <option value="code">Code</option>
                <option value="code">Code</option>
                <option value="code">Code</option>
                <option value="code">Code</option>
                <option value="code">Code</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <h6 class="w-full">Regular Delivery Days</h6>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="mon1">
            <label for="mon1">Monday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="tue1">
            <label for="tue1">Tuesday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="wed1">
            <label for="wed1">Wednesday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="thu1">
            <label for="thu1">thursday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="fri1">
            <label for="fri1">Friday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="sat1">
            <label for="sat1">Saturday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="sun1">
            <label for="sun1">Sunday</label>
        </div>
    </div>
    <div class="col-md-3">
        <h6 class="w-full">Sample Delivery Days</h6>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="mon2">
            <label for="mon2">Monday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="tue2">
            <label for="tue2">Tuesday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="wed2">
            <label for="wed2">Wednesday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="thu2">
            <label for="thu2">thursday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="fri2">
            <label for="fri2">Friday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="sat2">
            <label for="sat2">Saturday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="sun2">
            <label for="sun2">Sunday</label>
        </div>
    </div>
</div>
<div class="row px-3 pt-3 pb-2 bg-white">
    <div class="col-md-6 m-0">
        <h6 class="w-full">Order refrence regular ordr</h6>
        <div class="row f-row mx-0 ">
            <textarea placeholder="Type Here....." class="form-input-text"></textarea>
        </div>
        <p class="text-bold my-3">
            It is a long established fact that a reader will be distracte
             by the readable content of a page when looking
        </p>
    </div>
    <div class="col-md-6 m-0">
        <h6 class="w-full">Ordering information trail order</h6>
        <div class="row f-row mx-0 ">
            <textarea placeholder="Type Here....." class="form-input-text"></textarea>
        </div>
        <p class="text-bold my-3">
            It is a long established fact that a reader will be distracte
             by the readable content of a page when looking
        </p>
    </div>
</div>
<div class="row px-4 pt-3 pb-4 mb-5 bg-white">
    <button class="c-button py-2">Create Delivery Area</button>
</div>