<div class="row px-3 pt-3 pb-2">
    <h3>Order Supplier</h3>    
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{ loadingText }}</p>
</ngx-spinner>
<div class="row px-3">
    <div class="col-md-4 p-0 my-2">
        <label>From</label>
        <input [(ngModel)]="orderSupplier.fromDate" type="date" placeholder="date"/>    
    </div> 
    <div class="col-md-4 p-0 my-2">
        <label>To</label>
        <input type="date"  [(ngModel)]="orderSupplier.toDate" placeholder="date"/>    
    </div>  
    <div class="col-md-4 p-0 my-2">
        <div class="c-button" (click)="getSupplierOrders()">Create Delivery Order</div>   
    </div>      
</div>

<div class="row px-3 my-3">
    <table class="b-table table-responsive bg-white">
        <thead>
            <th>DATE</th>
            <th>WEEK</th>
            <th>DAY</th>
            <th>DOWNLOAD</th>
        </thead>
        <tbody>
            <tr *ngFor="let order of allOrderSuppliers">
                <td>{{order.date | date: 'shortDate'}}</td>
                <td>{{order.week}}</td>
                <td>{{order.day}}</td>
                <td>
                    <img (click)="getPDF(order)" src="../../../../assets/images/bread/10.png" />
                </td>
            </tr>
        </tbody>
    </table>
</div>