<div class="row px-3 pt-3 pb-2">
    <h3>Order Supplier</h3>    
</div>
<div class="row px-3">
     <form class="">
        <div class="col-md-4 p-0 my-2">
            <label>Mode</label>
               <select>
                   <option value="Alll">All</option>
                   <option value="Alll">All</option>
                   <option value="Alll">All</option>
                   <option value="Alll">All</option>
                   <option value="Alll">All</option>
               </select>   
          </div> 
          <div class="col-md-4 p-0 my-2">
            <label>For</label>
                <input type="date" placeholder="date"/>    
          </div>  
          <div class="col-md-4 p-0 my-2">
            <button class="c-button">Generate exit list</button>   
          </div>      
    </form>
</div>