<div class="row px-3 pt-3 pb-2">
    <h3>Search Customers</h3>    
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{ loadingText }}</p>
</ngx-spinner>

<div class="row px-3 my-3">
    <table class="b-table table-responsive">
        <thead>
            <th>CUSTOMERS NO</th>
            <th>CODE</th>
            <th>FULL NAME</th>
            <th>STREET & HOUSE NO</th>
            <th>POSTCODE </th>
            <th>DISTRICT</th>
            <th>PHONE</th>
            <th>STATUS</th>
        </thead>
        <tbody>
            <tr *ngFor="let customer of allCustomers">
                <td>{{customer.id}}</td>
                <td>{{customer.code}}</td>
                <td>
                    <a style="color: rgb(20, 34, 230);" [routerLink]="['/customers/view/', customer.id]">
                        {{customer.fName}} {{customer.lName}}
                    </a>
                </td>
                <td>{{customer.houseStreetNumber}}</td>
                <td>{{customer.postalCode}}</td>
                <td>{{customer.town}}</td>
                <td>{{customer.phone}}</td>
                <td *ngIf="!customer.isTrail && !customer.isArchive">
                    <label class="text-green pt-2" >
                        Regular
                    </label>
                </td>
                <td *ngIf="customer.isTrail && !customer.isArchive">
                    <label class="text-green pt-2" >
                        Sample
                    </label>
                </td>
                <td *ngIf="!customer.isTrail && customer.isArchive">
                    <label class="text-green pt-2" >
                        Archive
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
</div>