<div class="row px-3 pt-3 pb-2">
    <h3>Search Customers</h3>    
</div>

<div class="row px-3 my-3">
    <table class="b-table table-responsive">
        <thead>
            <th>CUSTOMERS NO</th>
            <th>CODE</th>
            <th>FULL NAME</th>
            <th>STREET & HOUSE NO</th>
            <th>POSTCODE </th>
            <th>DISTRICT</th>
            <th>PHONE</th>
            <th>STATUS</th>
        </thead>
        <tbody>
            <tr>
                <td>1234</td>
                <td>2B</td>
                <td>Zain Ali</td>
                <td>Glasscow, street 5</td>
                <td>12344</td>
                <td>Housten</td>
                <td>123452221</td>
                <td><label class="text-green pt-2">Regular</label></td>
            </tr>
        </tbody>
    </table>
</div>