.form-input{
    outline: none !important;
    padding: 0.5rem  0.75rem;
    background-color: #ced4da56 !important;
    border:0px !important;
    width: 100%;
    height: 50px;
}
input[type=checkbox]{
    margin-right: .5rem;
}
input[type=checkbox]:checked ~ .check::before{
    background: #214369;
    cursor: pointer;
  }
  
  input[type=checkbox]:checked ~ label{
    color: #214369;
    
  }
  .lft{
      float: left;
      margin-right: 1rem;
      
  }