
.b-table > thead{
    background-color:#214369 ;
    color: rgb(192,192,192);
    font-weight: 500;
}
.b-table > thead >th{
    padding: .7rem 1rem;
}
.b-table >tbody > tr >td{
    padding: 0rem .6rem !important ;
    font-weight: 500;
    border-bottom: 1px solid rgb(197, 188, 188);
}



 @media only screen and (max-width: 768px){
   
 }