<div class="row px-3 pt-3 pb-2">
    <h3>Create Customer</h3>    
</div>
<form>
<div class="wraper px-3 my-2 py-4 bg-white">
    <div class="row p-0 m-0">
        <h3 class="text-bluish w-full brdr-dash">Base Data</h3>
        <div class="col-md-6 p-0 m-0">
            <div class="row f-row">
                <div class="col-50">
                    <input  class="form-input-half " type="text" placeholder="Salutaion"/>
                </div>
                <div class="col-50">
                    <input  class="form-input-half" type="text" placeholder="Academic Title"/>
                </div>
            </div>
            <div class="row f-row mb-2">
                <input  class="form-input" type="text" placeholder="Street"/>
            </div>
            <div class="row f-row mt-2">
                <input  class="form-input" type="text" placeholder="Email"/>
            </div>
            <div class="row f-row">
                <div class="col-50">
                    <input  class="form-input-half " type="text" placeholder="Fax"/>
                </div>
                <div class="col-50">
                    <input  class="form-input-half" type="text" placeholder="Mobile Number"/>
                </div>
            </div>

        </div>

        <div class="col-md-6 ">
            <div class="row f-row">
                <div class="col-50">
                    <input  class="form-input-half " type="text" placeholder="First Name"/>
                </div>
                <div class="col-50">
                    <input  class="form-input-half" type="text" placeholder="Last Name"/>
                </div>
            </div>
            <div class="row f-row">
                <div class="col-50">
                    <input  class="form-input-half " type="text" placeholder="Postcode"/>
                </div>
                <div class="col-50">
                    <input  class="form-input-half" type="text" placeholder="place"/>
                </div>
            </div>
            <div class="row f-row">
                <div class="col-50">
                    <input  class="form-input-half " type="text" placeholder="Delivery Note"/>
                </div>
                <div class="col-50">
                    <input  class="form-input-half" type="text" placeholder="Telephone"/>
                </div>
            </div>
            <div class="row f-row">
                <div class="col-50">
                    <input  class="form-input-half " type="text" placeholder="Telephone 2"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="col-md-6 p-0 m-0">
            <h3 class="text-bluish w-full brdr-dash">Bank Details</h3>
            <div class="row f-row mb-2">
                <input  class="form-input" type="text" placeholder="Account Owner"/>
            </div>
            <div class="row f-row mb-2">
                <input  class="form-input" type="text" placeholder="IBAN"/>
            </div>
            <div class="row f-row mb-2">
                <input  class="form-input" type="text" placeholder="Free Field"/>
            </div>
            <div class="row f-row mb-2">
                <select class="form-input">
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                </select>
            </div>
            <div class="row f-row mb-2">
                <input  class="form-input" type="text" placeholder="Free Field"/>
            </div>
            <div class="row f-row mb-2">
                <input  class="form-input" type="text" placeholder="Free Field"/>
            </div>
        </div>

        <div class="col-md-6 ">
            <h3 class="text-bluish w-full brdr-dash">Tours</h3>
            <div class="row f-row mb-2">
                <input  class="form-input" type="text" placeholder="Sorting on working days"/>
            </div>
            <div class="row f-row mb-2">
                <select class="form-input">
                    <option value="0" disabled>please chose 1 hour</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                </select>
            </div>
            <div class="row f-row mb-2">
                <input  class="form-input" type="text" placeholder="Sorting on Saturday"/>
            </div>
            <div class="row f-row mb-2">
                <select class="form-input">
                    <option value="0" disabled>please chose 1 hour</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                </select>
            </div>
            <div class="row f-row mb-2">
                <input  class="form-input" type="text" placeholder="Sorting on Sunday"/>
            </div>
            <div class="row f-row mb-2">
                <select class="form-input">
                    <option value="0" disabled>please chose 1 hour</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                    <option value="code">Code</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row p-0 m-0">
        <div class="col-md-6 ">
            <h3 class="text-bluish w-full brdr-dash">Fees</h3>
            <div class="row f-row my-3 form-checkbox">
                <input type="checkbox" id="fee">
                <label for="fee">Different Delivery Fee</label>
            </div>
            <div class="row f-row mb-2">
                <label class="lft pt-2 f5">Working Days </label>
                <input  class="form-input-mini mx-1" type="text"/>
                <label class="lft pt-3">EUR </label>
            </div>
            <div class="row f-row mb-2">
                <label class="lft pt-2 f5">Saturday </label>
                <input  class="form-input-mini mx-1" type="text"/>
                <label class="lft pt-3">EUR </label>
            </div>
            <div class="row f-row mb-2 ">
                <label class="lft pt-2 f5">Sunday </label>
                <input  class="form-input-mini mx-1" type="text"/>
                <label class="lft pt-3">EUR </label>
            </div>

            <h3 class="text-bluish w-full brdr-dash mt-3">Billing Address</h3>
            <div class="row f-row">
                <div class="col-50">
                    <input  class="form-input-half " type="text" placeholder="Company (Invoices)"/>
                </div>
                <div class="col-50">
                    <input  class="form-input-half" type="text" placeholder="Postcose"/>
                </div>
            </div>
            <div class="row f-row">
                <div class="col-50">
                    <input  class="form-input-half " type="text" placeholder="First Name"/>
                </div>
                <div class="col-50">
                    <input  class="form-input-half" type="text" placeholder="Place"/>
                </div>
            </div>
            <div class="row f-row">
                <div class="col-50">
                    <input  class="form-input-half " type="text" placeholder="Last Name"/>
                </div>
                <div class="col-50">
                    <input  class="form-input-half" type="text" placeholder="Street + No"/>
                </div>
            </div>
            <div class="row f-row">
                <div class="col-50">
                   <select class="form-input-half">
                       <option value="0" disabled>Customer</option>
                       <option value="0" >Customer1</option>
                       <option value="0" >Customer2</option>
                       <option value="0" >Customer3</option>
                       <option value="0" >Customer4</option>
                   </select>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 ">
            <h3 class="text-bluish w-full brdr-dash">Customer Login</h3>
            <div class="row f-row my-3 form-checkbox">
                <div class="mr-1">
                    <input type="checkbox" id="fee1">
                    <label for="fee1">Deactivated</label>
                </div>
                <div class="ml-3">
                    <input type="checkbox" id="fee2">
                    <label for="fee2">Login Possible</label>
                </div>
            </div>
            <h3 class="text-bluish w-full brdr-dash">payment Type</h3>
            <div class="b-01 mt-2 w-full">
                <ul>
                  <li class="lft">
                  <input type="radio" id="11-option" name="selector">
                  <label for="11-option">Direct Debit</label>
                </li>
                <li class="lft">
                  <input type="radio" id="22-option" name="selector">
                  <label for="22-option">Bank Transfer</label>
                </li>
              </ul>
              </div>
            <div class="row f-row my-3 form-checkbox">
                <input type="checkbox" id="fees">
                <label for="fees">Sending email by invoice is sufficient</label>
            </div>
            <h3 class="text-bluish w-full brdr-dash">Discount</h3>
            <div class="row f-row my-3 form-checkbox">
                <input type="checkbox" id="fee3">
                <label for="fee3">Activated</label>
            </div>
            <div class="row f-row">
                <div class="col-50">
                    <input  class="form-input-half " type="text" placeholder="Height %"/>
                </div>
                <div class="col-50">
                    <input  class="form-input-half" type="text" placeholder="Discount Reason"/>
                </div>
            </div>
            <h3 class="text-bluish w-full brdr-dash">Genral Notes</h3>
            <div class="row f-row">
               <textarea placeholder="Type Here....." class="form-input-text"></textarea>
            </div>
        </div>

    </div>
    <div class="form-check mt-4">
        <button class="c-button py-2">Create Customer</button>
    </div>
</div>
</form>