<div class="row px-3 pt-3 pb-2">
    <h3>Trail Customers</h3>    
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{ loadingText }}</p>
</ngx-spinner>

<div class="row px-3 my-3">
    <table class="b-table table-responsive">
        <thead>
            <th>#</th>
            <th>CUSTOMER</th>
            <th>POSTCODE</th>
            <th>STREET</th>
            <th>DISTRICT </th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th>TYPE</th>
            <th>CREATED</th>
            <th>ACTIONS</th>
        </thead>
        <tbody>
            <tr *ngFor="let customer of allCustomers">
                <td>{{customer.id}}</td>
                <td>
                    <a style="color: black;" [routerLink]="['/customers/view/', customer.id]">
                        {{customer.fName}} {{customer.lName}}
                    </a>
                </td>
                <td>{{customer.postalCode}}</td>
                <td>{{customer.houseStreetNumber}}</td>
                <td>{{customer.town}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.email}}</td>
                <td><label class="text-green pt-2" *ngIf="customer.isArchive">Archive</label></td>
                <!-- <td><label class="text-green pt-2" *ngIf="!customer.isArchive">Regular</label></td> -->
                <td>{{customer.createdAt | date}}</td>
                <td>
                    <img [routerLink]="['/customers/view/', customer.id]" src="../../../../assets/images/bread/23.png" />
                    <img src="../../../../assets/images/bread/27.png" class="mx-1"/>
                    <img src="../../../../assets/images/bread/11.png"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>