<div class="row px-3 pt-3 pb-2">
    <h3>Create Access Franchisee</h3>    
</div>

<div class="py-3 my-2 bg-white">
    <form class="f-form">
        <div class="row f-row">
            <div class="col-50">
                <input  class="form-input " type="text" placeholder="Name"/>
            </div>
            <div class="col-50">
                <input  class="form-input" type="text" placeholder="Street & House Number"/>
            </div>
        </div>
        <div class="row f-row">
            <div class="col-50">
                <input  class="form-input " type="text" placeholder="Post Code"/>
            </div>
            <div class="col-50">
                <input  class="form-input" type="text" placeholder="Town"/>
            </div>
        </div>
        <div class="row f-row">
            <div class="col-50">
                <input  class="form-input " type="text" placeholder="Email"/>
            </div>
            <div class="col-50">
                <input  class="form-input" type="text" placeholder="Password"/>
            </div>
        </div>
        <div class="row f-row">
            <div class="col-50">
                <input  class="form-input " type="text" placeholder="IBAN"/>
            </div>
        </div>
        <div class="row f-row px-3 my-2 ">
            <h5 class="text-bluish w-full text-left">Access To</h5>
            <div class="form-check mt-2">
                <input type="checkbox" id="name">
                <label for="name">Name</label>
              </div>
              <div class="form-check mt-2">
                <input type="checkbox" id="address">
                <label for="address">Street & House Number</label>
              </div>
              <div class="form-check mt-2">
                <input type="checkbox" id="post">
                <label for="post">Post Code</label>
              </div>
              <div class="form-check mt-2">
                <input type="checkbox" id="town">
                <label for="town">Town</label>
              </div>
              <div class="form-check mt-2">
                <input type="checkbox" id="email">
                <label for="email">Email</label>
              </div>
              <div class="form-check mt-2">
                <input type="checkbox" id="password">
                <label for="password">Password</label>
              </div>
              <div class="form-check mt-2">
                <input type="checkbox" id="iban">
                <label for="iban">IBAN</label>
              </div>
              <div class="form-check mt-4">
                  <button class="c-button py-2">Create Access For Franchisee</button>
              </div>
        </div>
    </form>
</div>
