


.brdr{
	-webkit-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.75);
box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.75);
}
.h-box{
	float: left;
	background-color:#fff;
	margin:1rem 1% 2rem 1%;
	padding: 1rem 0;
	width: 31.3333%;
	float: left;
	border-radius: 8px;
	-webkit-box-shadow: 1px 0px 5px 1px rgba(250,250,250,1);
	-moz-box-shadow: 1px 0px 5px 1px rgba(250,250,250,1);
	box-shadow: 1px 0px 5px 1px rgba(250,250,250,1);
	/*position: relative;*/

}
.h-icons{
	margin-top: -3rem;
    margin-bottom: 1.5rem;
	width: 75px;
}
.h-box > ul {
	list-style: none !important;
	padding: 0;
}
.h-box > ul > li{
	padding: .7rem 0 .4rem;
	border-bottom: 1px solid #cecece;
}
/*.h-box > ul > li:last-child{
	border: 0px ;
}*/
.h-box > ul a{
	color: #33363d;
	text-decoration: none !important;
	font-weight: 500;
}
.h-box > ul a:hover{
	color:#214369;

}

.htopbtn{
	border-radius: 12px;
	outline: none;
	background-color: #fff;
	color: #33363d;
	border: 0;
	padding: 0.2rem 1.5rem;
	text-align:center;
}

/*@media(max-width: 992px){
	.h-box{
		margin: 0 1% 3rem 1%;
		width: 31.5%;

	}
}*/
@media(max-width: 768px){
	.h-box{
		margin: 0 2% 3rem 2%;
		width: 46%;

	}
}
@media(max-width: 520px){
	.h-box{
		margin: 0 auto 3rem auto;
		width: 96%;

	}
}