<div class="container-fluid py-5 px-0 bggray ">
    <div class="row text-left  p-0 m-0">
      <p class="pt3">New Tickets: 0 | In Progress: 0 | Resubmissions: 0 | Done: 67  <button class="htopbtn ml-2">View Ticket</button></p>
    </div>
    <div class="row text-center  p-0 mx-0 mt-4">
      <div class="h-box">
        <img src="../../../../assets/images/bread/hicon-1.png" class="h-icons">
        <h4>CUSTOMERS</h4>
        <ul>
          <li><a href="#!">Search Customers</a></li>
          <li><a href="#!">Create new Customers</a></li>
          <li><a href="#!">Trail Customers</a></li>
          <li><a href="#!">Web Customers</a></li>
          <li><a href="#!">Customers Archive</a></li>
        </ul>
      </div>
      <div class="h-box">
        <img src="../../../../assets/images/bread/hicon-2.png" class="h-icons">
        <h4>LOGISTICS</h4>
        <ul>
          <li><a href="#!">Suplier Order</a></li>
          <li><a href="#!">Delivery List</a></li>
        </ul>
        
      </div>
      <div class="h-box">
        <img src="../../../../assets/images/bread/hicon-3.png" class="h-icons">
        <h4>ACCOUNTING</h4>        
        <ul>
          <li><a href="#!">Billing</a></li>
          <li><a href="#!">OutStanding Payments </a></li>
          <li><a href="#!">Invoice</a></li>
          <li><a href="#!">Cost & Performance accounting</a></li>
        </ul>
      </div>
  
      <div class="h-box">
        <img src="../../../../assets/images/bread/hicon-4.png" class="h-icons">
        <h4>COMUNICATION</h4>
        <ul>
          <li><a href="#!">Tickets</a></li>
          <li><a href="#!">Serial Email</a></li>
        </ul>
      </div>
      <div class="h-box pb-3">
        <img src="../../../../assets/images/bread/hicon-5.png" class="h-icons">
        <h4>LOGISTICS</h4>
        <ul>
          <li><a href="#!">Bakery Data</a></li>
          <li><a href="#!">Users</a></li>
          <li><a href="#!">Products</a></li>
          <li><a href="#!">Categories</a></li>
          <li><a href="#!">Delivery Areas</a></li>
          <li><a href="#!">Non Delivery Days</a></li>
        </ul>
        
      </div>
      <div class="h-box">
        <img src="../../../../assets/images/bread/hicon-6.png" class="h-icons">
        <h4>ACCOUNTING</h4>        
        <ul>
          <li><a href="#!">Tours Overview</a></li>
          <li><a href="#!">Create a tour</a></li>
        </ul>
      </div>
    </div>
  </div>