.c-title{
    font-weight: 600;
}
.c-box{
    border-radius: 12px;
    padding: .7rem 1rem 2rem 1rem;
}
.orders{
    border-bottom: 1px solid #33363d;
    padding: 5px 0 3px 0;
}
.btns{
    width: 100%;
    display: inline-flex;
}
.img-size{
    width: 70px;
    height: 80px;
}
.f-row{
    width: 100%;
    margin: 0 auto;
}
.lbl{
    width: 100%;
    text-align: left;
    float: left;
}
.form-select{
    outline: none !important;
    padding: 0.4rem  0.2rem 0rem;
    background-color: transparent !important;
    border:0px !important;
    border-bottom:1px solid #33363d !important;
    width: 100%;
    height: 45px;
}
.form-select-delry{
    position: relative;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    border-radius: 12px;
    border: 0;
    padding:0.7rem  0.5rem ;
    width: 100%;
}
.col-50{
    float: left;
    width: 50%;
    margin: 0.5rem 0;
}
.form-input{
    outline: none !important;
    padding: 0.5rem  0.75rem;
    background-color: #ced4da56 !important;
    border:0px !important;
    width: 100%;
    height: 50px;
}
.sm-input{
    border: 1px solid #33363d;
    padding: 0.3rem;
    min-width: 50px;
    max-width: 60px;
    margin-left: 10px;
}
input[type="date"] {
    position: relative;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    border-radius: 12px;
    border: 0;
    padding:0.6rem  0.2rem ;
    width: 100%;
}

.order-sp:hover {
  cursor: pointer;
  background-color: #555;
  color: #fff;
}

input[type="date"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: "\f073";
    color: #555;
    padding: 0 5px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
    cursor: pointer;
}

.f-form{
  width: 100%;
  display: block;
}
.f-row{
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.col-50{
  float: left;
  width: 50%;
  margin: 0.5rem 0;
}
.f5{
  min-width: 120px;
  text-align: left;
}
.brdr-dash{
  border-bottom: 1px dashed #214369;
  padding-bottom: 4px;
}
.form-input-text{
  outline: none !important;
  padding: 0.5rem  0.75rem;
  background-color: #ced4da56 !important;
  border:0px !important;
  width: 100%;
  height: 140px;
}
.form-input-half{
  outline: none !important;
  padding: 0.5rem  0.75rem;
  background-color: #ced4da56 !important;
  border:0px !important;
  width: 98%;
  height: 50px;
}
.form-input-mini{
  outline: none !important;
  padding: 0.5rem  0.75rem;
  background-color: #ced4da56 !important;
  border:0px !important;
  width: 100px;
  height: 50px;
  float: left;
}
.form-input{
  outline: none !important;
  padding: 0.5rem  0.75rem;
  background-color: #ced4da56 !important;
  border:0px !important;
  width: 100%;
  height: 50px;
}
.form-checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
  
.form-checkbox label {
  position: relative;
  cursor: pointer;
  font-weight: 500;
}
  
//   input[type="checkbox"]:checked ~ label:before {background: #fff no-repeat center;}

.form-checkbox label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #214369;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 6px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}
.form-checkbox input:checked {
  background-color: #214369;
}
 
.form-checkbox input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 6px;
  width: 6px;
  height: 9px;
  border: solid #214369;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.text-bluish {
    text-align: start;
}

input[type=radio]{
  margin-right: .5rem;
}
input[type=radio]:checked ~ .check::before{
  background: #214369;
  cursor: pointer;
}
  
input[type=radio]:checked ~ label{
  color: #214369;
  
}
.lft{
  float: left;
  margin-right: 1rem;
    
}

@media only screen and (max-width: 768px){
  .col-50{
    width: 100%;
    float: left;
  }
}


/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

 /* adjust clear button */
 input[type="date"]::-webkit-clear-button {
     z-index: 1;
 }

 @media only screen and (max-width: 768px){
    .col-50{
      width: 100%;
      float: left;
    }
 }