<div class="row px-3 pt-3 pb-0">
    <h3>Customer</h3>    
  </div>
  
  <div class="row px-3 pt-1 pb-1">
    <div class="col-md-3 p-0 m-0">
        <label class="c-title">Name:</label>
        Waseem Abbas
    </div>   
    <div class="col-md-4 p-0 m-0">
        <label class="c-title">Customer No:</label>
        123422
    </div>   
    <div class="col-md-5 p-0 m-0">
        <label class="c-title">Phone No:</label>
        +1231241241231
    </div>   
  </div>


  <div class="row px-3 pt-1 pb-2 ">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Customer Data</a>
        <ng-template ngbNavContent>
            <div class="row px-0 pb-4 m-0 bg-white ">
                <div class="w-full text-center py-5">
                    <h3 class="txt-bold my-3">Customers Data Section</h3>
                </div>
            </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Order</a>
        <ng-template ngbNavContent>
            <div class="row px-0 pb-4 m-0 ">
                <div class="col-md-4">
                    <h6>Orders</h6>
                    <div class="c-box bg-white">
                        <div class="orders txt-bold">valid from 08/01/20 until unlimited</div>
                        <div class="orders txt-bold">valid from 08/01/20 until unlimited</div>
                        <div class="orders txt-bold">valid from 08/01/20 until unlimited</div>
                    </div>
                    <div class="row f-row mb-2">
                        <select class="form-select">
                            <option value="0" >Enter Order</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                        </select>
                    </div>
                    <div class="row f-row mt-2">
                        <label class="c-title lbl">Valid From</label>
                        <input type="date" placeholder="date"/> 
                    </div>
                    <div class="row f-row mt-2">
                        <label class="c-title lbl">Date of Expiry</label>
                        <input type="date" placeholder="date"/> 
                    </div>
                    <div class="row f-row my-2">
                        <label class="c-title lbl">Delivery Mode</label>
                        <select class="form-select-delry">
                            <option value="0" >Weekly</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                        </select>
                    </div>
                    <div class="row f-row my-2 ">
                        <button class="c-button w-full">Capture</button>
                    </div>
                    <div class="row f-row mb-2">
                        <select class="form-select">
                            <option value="0" >Order Breakage</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                        </select>
                    </div>
                    <div class="row f-row mb-2">
                        <select class="form-select">
                            <option value="0" >Additional Order</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-8 bg-white">
                    <div class="row px-2 py-3 m-0">
                        <div class="col-md-7 p-0">
                            <p class="m-0 txt-bold">Order Number: 1231412</p>
                            <p class="m-0 txt-bold">Valid from 09/12/20 until unlimited</p>
                            <p class="m-0 txt-bold">This order runs undefinitely</p>
                            <p class="m-0 txt-bold">Mode: Evry Week</p>
                        </div>
                        <div class="col-md-5 p-0 text-right">
                            <button class="c-button bg-offwhite my-2 txt-black">
                                <img src="../../../../assets/images/bread/26.png" class="mr-2"/>
                                Stop Deliveries</button>
                            <button class="c-button bg-greenish txt-black">
                                <img src="../../../../assets/images/bread/27.png" class="mr-2"/>
                                Change View</button>
                        </div>
                    </div>
                    <div class="row p-2 m-0">
                        <table class="b-table table-responsive">
                            <thead class="thead1">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>MO</th>
                                <th>DI</th>
                                <th>MI</th>
                                <th>DO</th>
                                <th>FR</th>
                                <th>SA</th>
                                <th>SO</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Crosistant</td>
                                    <td>0,01</td>
                                    <td><i class="fa fa-heart txt-red" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>2</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>trail Order</a>
        <ng-template ngbNavContent>
            <div class="row px-0 pb-4 m-0 ">
                <div class="col-md-4">
                    <div class="row f-row mt-2">
                        <label class="c-title lbl">Valid From</label>
                        <input type="date" placeholder="date"/> 
                    </div>
                    <div class="row f-row my-4 ">
                        <button class="c-button w-full">Capture</button>
                    </div>
                    <h6>Orders</h6>
                    <div class="c-box bg-white ">
                        <div class="orders txt-bold">Trail order valid from 12/1/20</div>
                    </div>
                </div>
                <div class="col-md-8 bg-white p-0">
                    <div class="row p-0 m-0">
                        <table class="b-table table-responsive">
                            <thead >
                                <th class="py-3">SA</th>
                                <th></th>
                                <th class="py-3">ROLLS AND PRETZELS</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr> 
                                    <td><input type="checkbox"></td>
                                    <td><img src="#!" class="img-size"></td>
                                    <td>Offer-5 burgur rolls</td>
                                    <td>0,40</td>
                                </tr>
                                <tr> 
                                    <td><input type="checkbox"></td>
                                    <td><img src="#!" class="img-size"></td>
                                    <td>Offer-5 Crud balls</td>
                                    <td>0,80</td>
                                </tr>
                                <tr> 
                                    <td><input type="checkbox"></td>
                                    <td><img src="#!" class="img-size"></td>
                                    <td>Offer-5 master writings</td>
                                    <td>0,40</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns my-3">
                            <button class="c-button bg-purple txt-black txt-bold">
                                <img src="../../../../assets/images/bread/32.png" class="mr-2"/>
                                Empty form</button>
                            <button class="c-button ml-3">Create Order</button>
                        </div>
                    </div>
                </div>
            </div>

        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink>Aditional Order</a>
        <ng-template ngbNavContent>
            <div class="row px-0 pb-4 m-0 ">
                <div class="col-md-4">
                    <div class="row f-row mt-2">
                        <label class="c-title lbl">Valid From</label>
                        <input type="date" placeholder="date"/> 
                    </div>
                    <div class="row f-row mt-2">
                        <label class="c-title lbl">Date of Expiry</label>
                        <input type="date" placeholder="date"/> 
                    </div>
                    <div class="row f-row my-4 ">
                        <button class="c-button w-full">Capture</button>
                    </div>
                    <h6>Addional Orders</h6>
                    <div class="c-box bg-white py-5 ">
                        <!-- <div class="orders txt-bold">Trail order valid from 12/1/20</div> -->
                    </div>
                </div>
                <div class="col-md-8 bg-white p-0">
                    <div class="row p-0 m-0">
                        <table class="b-table table-responsive">
                            <thead >
                                <th class="py-3">SA</th>
                                <th></th>
                                <th class="py-3">ROLLS AND PRETZELS</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr> 
                                    <td><input type="checkbox"></td>
                                    <td><img src="#!" class="img-size"></td>
                                    <td>Offer-5 burgur rolls</td>
                                    <td>0,40</td>
                                </tr>
                                <tr> 
                                    <td><input type="checkbox"></td>
                                    <td><img src="#!" class="img-size"></td>
                                    <td>Offer-5 Crud balls</td>
                                    <td>0,80</td>
                                </tr>
                                <tr> 
                                    <td><input type="checkbox"></td>
                                    <td><img src="#!" class="img-size"></td>
                                    <td>Offer-5 master writings</td>
                                    <td>0,40</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="5">
        <a ngbNavLink>Documents</a>
        <ng-template ngbNavContent>
            <div class="row p-0 m-0">
                <div class="col-md-6">
                    <h6>Bills</h6>
                    <table class="b-table table-responsive">
                        <thead>
                            <th>FROM</th>
                            <th>TO</th>
                            <th>COUNT NO</th>
                            <th>AMOUNT</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12/1/2021</td>
                                <td>12/1/2022</td>
                                <td>#23423</td>
                                <td>0,72</td>
                                <td>
                                    <img src="../../../../assets/images/bread/10.png" class="mr-2"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h6>Letters</h6>
                    <table class="b-table table-responsive">
                        <thead>
                            <th>FROM</th>
                            <th>SUBJECT</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12/1/2021</td>
                                <td>lOREMIPSUM SJASKBBKJJ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="row p-0 mt-4 mx-0">
                <div class="col-md-6">
                    <h6>Warnings</h6>
                    <table class="b-table table-responsive">
                        <thead>
                            <th>FROM</th>
                            <th>AMOUNT</th>
                            <th>STATUS</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12/1/2021</td>
                                <td>0,72</td>
                                <td>Active</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h6>Letters</h6>
                    <table class="b-table table-responsive">
                        <thead>
                            <th>FROM</th>
                            <th>TOTAL</th>
                            <th>TYPE</th>
                            <th>DOWNLOAD</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row p-0 mt-4 mx-0">
                <div class="col-md-6">
                    <h6>Serail Letters</h6>
                    <table class="b-table table-responsive">
                        <thead>
                            <th>FROM</th>
                            <th>TYPE</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>   </td>
                                <td>   </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h6>Serial Mails</h6>
                    <table class="b-table table-responsive">
                        <thead>
                            <th>FROM</th>
                            <th>TYPE</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>   </td>
                                <td>   </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="6">
        <a ngbNavLink>Prices</a>
        <ng-template ngbNavContent>
            <div class="row p-0 mb-3 mx-0">
                <div class="col-md-6 ">
                    <table class="b-table table-responsive bg-white">
                        <thead>
                            <th>OFFERS OF THE MONTH</th>
                            <th>PRICE</th>
                            <th>INDIVIDUAL PRICE</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Offer-5 burger rolls 447</td>
                                <td>195 EUR</td>
                                <td><input class="sm-input" /> EUR</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 ">
                    <table class="b-table table-responsive bg-white">
                        <thead>
                            <th>BREAD PRELETZ</th>
                            <th>PRICE</th>
                            <th>INDIVIDUAL PRICE</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Offer-5 burger rolls 447</td>
                                <td>195 EUR</td>
                                <td><input class="sm-input" /> EUR</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row p-0 mb-3 mx-0">
                <div class="col-md-6 ">
                    <table class="b-table table-responsive bg-white">
                        <thead>
                            <th>OFFERS OF THE MONTH</th>
                            <th>PRICE</th>
                            <th>INDIVIDUAL PRICE</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Offer-5 burger rolls 447</td>
                                <td>195 EUR</td>
                                <td><input class="sm-input" /> EUR</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 ">
                    <table class="b-table table-responsive bg-white">
                        <thead>
                            <th>OFFERS OF THE MONTH</th>
                            <th>PRICE</th>
                            <th>INDIVIDUAL PRICE</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Offer-5 burger rolls 447</td>
                                <td>195 EUR</td>
                                <td><input class="sm-input" /> EUR</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row p-0 mb-3 mx-0">
                <div class="col-md-6 ">
                    <table class="b-table table-responsive bg-white">
                        <thead>
                            <th>OFFERS OF THE MONTH</th>
                            <th>PRICE</th>
                            <th>INDIVIDUAL PRICE</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Offer-5 burger rolls 447</td>
                                <td>195 EUR</td>
                                <td><input class="sm-input" /> EUR</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 ">
                    <table class="b-table table-responsive bg-white">
                        <thead>
                            <th>OFFERS OF THE MONTH</th>
                            <th>PRICE</th>
                            <th>INDIVIDUAL PRICE</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Offer-5 burger rolls 447</td>
                                <td>195 EUR</td>
                                <td><input class="sm-input" /> EUR</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row f-row my-2 ">
                <button class="c-button">Apply changes</button>
            </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="7">
        <a ngbNavLink>Credits</a>
        <ng-template ngbNavContent>
            <div class="row px-0 pb-4 m-0 ">
                <div class="col-md-4">
                    <div class="row f-row mt-2">
                        <label class="c-title lbl">Delivery From</label>
                        <input type="text" class="form-select-delry" /> 
                    </div>
                    <div class="row f-row my-2">
                        <label class="c-title lbl">With the reasoning</label>
                        <select class="form-select-delry">
                            <option value="0" >Delivery Failure</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                        </select>
                    </div>
                    <div class="row f-row my-3 ">
                        <button class="c-button w-full">Capture</button>
                    </div>
                    <h6 class="orders">Orders</h6>
                    <div class="row f-row mt-3">
                        <label class="c-title lbl">The following amount</label>
                        <input type="text" class="form-select-delry" /> 
                    </div>
                    <div class="row f-row mt-3">
                        <label class="c-title lbl">With the reasoning</label>
                        <input type="text" class="form-select-delry" /> 
                    </div>
                    <div class="row f-row my-4">
                        <select class="form-select-delry">
                            <option value="0" >With 5% VAT</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                            <option value="code">Code</option>
                        </select>
                    </div>
                    <div class="row f-row my-3 ">
                        <button class="c-button w-full">Capture</button>
                    </div>
                </div>
                <div class="col-md-8 bg-white p-0">
                    <div class="w-full text-center py-5">
                        <img src="../../../../assets/images/bread/29.png"/>
                        <h2 class="txt-bold my-3">No cridet so far</h2>
                    </div>
                </div>
            </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="8">
        <a ngbNavLink>Special Booking</a>
        <ng-template ngbNavContent>
            <div class="row px-0 pb-4 m-0 bg-white">
                <div class="w-full text-center py-5">
                    <h3 class="txt-bold my-3">Special Booking Section </h3>
                </div>
            </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="9">
        <a ngbNavLink>Tickets</a>
        <ng-template ngbNavContent>
            <div class="row px-0 p-4 m-0 bg-white ">
                <div class="btns">
                    <button class="c-button bg-blue txt-black txt-bold">
                        <img src="../../../../assets/images/bread/30.png" class="mr-2"/>
                        Create a note</button>
                    <button class="c-button bg-offwhite txt-black txt-bold mx-3">
                        <img src="../../../../assets/images/bread/9.png" class="mr-2"/>
                        Email to the customer</button>
                    <button class="c-button bg-pink txt-black txt-bold">
                        <img src="../../../../assets/images/bread/31.png" class="mr-2"/>
                        Letter to the customer</button>
                </div>
                <div class="list my-4">
                    <p class="txt-bold f-big">No Ticket Available</p>
                </div>
            </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="10">
        <a ngbNavLink>Password</a>
        <ng-template ngbNavContent>
            <div class="row p-3 m-0 bg-white">
                <h4 class="my-2">Change Password</h4>
                <div class="row f-row mt-2">
                    <div class="col-50">
                        <input  class="form-input " type="text" placeholder="******"/>
                    </div>
                </div>
                <div class="row f-row mt-2">
                    <button class="c-button bg-greenish txt-black">
                        <img src="../../../../assets/images/bread/27.png" class="mr-2"/>
                        To Change 
                    </button>
                </div>
                <div class="row f-row mt-2">
                    <p class="txt-bold f-big w-full">It os a long established fact that a reader will be by 
                        the readable content<br> of a pages when: 16874
                    </p>
                    <h4 class="mt-3">Send New Password</h4>
                    <p class="txt-bold f-big w-full">It os a long established fact that a reader will be by 
                        the readable content<br> of a pages when: abc@gmail.com
                    </p>
                    <p class="txt-bold f-big w-full">It os a long established fact that a reader will be 
                        by the readable will be <br>distracted by the readable content of a page when
                        looking at its layout.
                    </p>
                    <button class="c-button bg-pink txt-black txt-bold">
                        <img src="../../../../assets/images/bread/12.png" class="mr-2"/>
                        Generate a new Password and send it now
                    </button>
                </div>
                <div class="row f-row mt-2">
                    <h4 class="mt-3">Block Email and serial letters</h4>
                    <p class="txt-bold f-big w-full">It os a long established fact that a reader will be 
                        by the readable will be <br>distracted by the readable content of a page when
                        looking at its layout.
                    </p>
                    <button class="c-button bg-offwhite txt-bold my-2 txt-black">
                        <img src="../../../../assets/images/bread/26.png" class="mr-2"/>
                        Block Email sending
                    </button>

                </div>
            </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="11">
        <a ngbNavLink>Clear</a>
        <ng-template ngbNavContent>
            <div class="row px-0 pb-4 m-0 bg-white">
                <div class="w-full text-center py-5">
                    <img src="../../../../assets/images/bread/25.png"/>
                    <h3 class="txt-bold my-3">Move customers to the archive </h3>
                </div>
            </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="12">
        <a ngbNavLink>CUS Archive</a>
        <ng-template ngbNavContent>
            <div class="row px-0 pb-4 m-0 ">
                <table class="b-table table-responsive">
                    <thead>
                        <th>#</th>
                        <th>SURNAME</th>
                        <th>STREET</th>
                        <th>POSTCODE</th>
                        <th>PLACE</th>
                        <th>EMAIL</th>
                        <th>CONTACT</th>
                        <th>TYPE</th>
                        <th>CREATED</th>
                        <th>ACTIONS</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9121</td>
                            <td>Waseem</td>
                            <td>dargai malkand</td>
                            <td>12123</td>
                            <td>dargai</td>
                            <td>123@gmail.com</td>
                            <td>12312312</td>
                            <td>Archive</td>
                            <td> 12/12/20</td>
                            <td>
                                <img src="../../../../assets/images/bread/23.png" />
                                <img src="../../../../assets/images/bread/27.png" class="mx-1"/>
                                <img src="../../../../assets/images/bread/11.png"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
      </li>
  
    </ul>
    
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
  </div>