<div class="row px-3 pt-3 pb-2">
    <h3>Trail Customers</h3>    
</div>

<div class="row px-3 my-3">
    <table class="b-table table-responsive">
        <thead>
            <th>DELIVERY DATE</th>
            <th>CUSTOMER</th>
            <th>POSTCODE</th>
            <th>STREET & HOUSE NO</th>
            <th>DISTRICT </th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th>NOTE</th>
            <th>STATUS</th>
        </thead>
        <tbody>
            <tr>
                <td>12/1/2021</td>
                <td>Zain Ali</td>
                <td>09321</td>
                <td>Glasscow, street 5</td>
                <td>Housten</td>
                <td>+21312412</td>
                <td>email@gmail.com</td>
                <td>type note here</td>
                <td><label class="text-green pt-2">Regular</label></td>
            </tr>
        </tbody>
    </table>
</div>