<div class="row px-3 pt-3 pb-2">
    <h3>All Franchises</h3>    
</div>

<div class="row px-3 my-2 py-4 bg-white">
    <table class="table f-table">
        <tr>
            <td>1</td>
            <td>checker drive-in- resturant inc</td>
            <td><button class="c-button">Edit</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>shop 2</td>
            <td><button class="c-button">Edit</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>shop 3</td>
            <td><button class="c-button">Edit</button></td>
        </tr>
    </table>
</div>