<div class="row px-3 pt-3 pb-2">
    <h3>Categories Overview</h3>    
</div>

<div class="row px-3 my-3">
    <table class="b-table table-responsive bg-white">
        <thead>
            <th>#</th>
            <th>NAME</th>
            <th>GENERATED</th>
            <th>ACTIONS</th>
        </thead>
        <tbody>
            <tr>
                <td>123</td>
                <td>Lorum ipsum is hust dummy content of type testing</td>
                <td>12/12/20</td>
                <td>
                    <img src="../../../../assets/images/bread/19.png" />
                    <img src="../../../../assets/images/bread/11.png" class="s-img" />
                </td>
            </tr>
        </tbody>
    </table>
</div>