<div class="row px-3 pt-3 pb-2">
    <h3>Categories Overview</h3>    
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{ loadingText }}</p>
</ngx-spinner>

<div class="row px-3 my-3">
    <table class="b-table table-responsive bg-white">
        <thead>
            <th>#</th>
            <th>NAME</th>
            <th>GENERATED</th>
            <th>ACTIONS</th>
        </thead>
        <tbody>
            <tr *ngFor="let category of allCategories">
                <td>{{category.id}}</td>
                <td>{{category.title}}</td>
                <td>{{category.createdAt | date:'shortDate'}}</td>
                <td>
                    <img [routerLink]="['/settings/categories/', category.id]" src="../../../../assets/images/bread/23.png" />
                    <img [routerLink]="['/settings/categories/edit-category/', category.id]" src="../../../../assets/images/bread/19.png" />
                    <img (click)="deleteCategory(category)" src="../../../../assets/images/bread/11.png" class="s-img" />
                </td>
            </tr>
        </tbody>
    </table>
</div>