<div class="row px-3 pt-3 pb-2">
    <h3>Create Tour</h3>    
  </div>
<form>
<div class="row bg-white m-0 p-3">
    
    <div class="col-md-6">
        <h6 class="">Create Tour</h6>
        <input  class="form-input my-2 " type="text" placeholder="Tour Description "/>
        <input  class="form-input my-2 " type="text" placeholder="Label text "/>
        <input  class="form-input my-2 " type="text" placeholder="Name on Order review "/>
        <select class="form-input" id="inlineFormCustomSelect">
            <option selected>Billing Mode</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    <div class="col-md-6">
        <div class="b-01 mt-2 w-full">
            <h6 class="mb-2">Delivery Days</h6>
            <ul>
              <li class="lft">
              <input type="radio" id="1-option" name="selector">
              <label for="1-option">Saturday</label>
            </li>
            <li class="lft">
              <input type="radio" id="2-option" name="selector">
              <label for="2-option">Sunday</label>
            </li>
            <li class="lft">
              <input type="radio" id="6-option" name="selector">
              <label for="6-option">Working Days</label>
            </li>
          </ul>
          </div>
          <div class="b-01 mt-2 w-full">
            <h6 class="mb-2">New Customer Treatment</h6>
            <ul>
              <li class="lft">
              <input type="radio" id="11-option" name="selector">
              <label for="11-option">field tour for new web customers</label>
            </li>
            <li class="lft">
              <input type="radio" id="22-option" name="selector">
              <label for="22-option">Support tour for new web customers who order for first time</label>
            </li>
          </ul>
          </div>
          <div class="b-01 mt-2 w-full">
            <h6 class="mb-2">All Users</h6>
            <ul>
              <li class="lft">
              <input type="radio" id="7-option" name="selector">
              <label for="7-option">All Users </label>
            </li>
            <li class="lft">
              <input type="radio" id="8-option" name="selector">
              <label for="8-option">Because of partner supervisor</label>
            </li>
            <li class="lft">
              <input type="radio" id="9-option" name="selector">
              <label for="9-option">Sufi gabriel (owner)</label>
            </li>
          </ul>
          </div>
    </div>
    <div class="row bg-white m-0 p-3">
        <button class="c-button">Create Tour</button>
      </div>
    
</div>
</form>