<div class="row px-3 pt-3 pb-2">
    <h3>Create Access Franchisee</h3>    
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{ loadingText }}</p>
</ngx-spinner>

<div class="py-3 my-2 bg-white">
    <form class="f-form" [formGroup]="franchiseForm">
        <div class="row f-row">
            <div class="col-50">
                <input  class="form-input" formControlName="name" type="text" placeholder="Name"/>
                <span *ngIf="cf.name.touched && cf.name.invalid">
                    <p class="text-danger">{{nameError()}}</p>
                </span>
            </div>
            <div class="col-50">
                <input  class="form-input" type="text" formControlName="houseStreetNumber" placeholder="Street & House Number"/>
                <span *ngIf="cf.houseStreetNumber.touched && cf.houseStreetNumber.invalid">
                    <p class="text-danger">{{houseStreetNumberError()}}</p>
                </span>
            </div>
        </div>
        <div class="row f-row">
            <div class="col-50">
                <input  class="form-input " type="text" formControlName="postalCode" placeholder="Post Code"/>
                <span *ngIf="cf.postalCode.touched && cf.postalCode.invalid">
                    <p class="text-danger">{{postalCodeError()}}</p>
                </span>
            </div>
            <div class="col-50">
                <input  class="form-input" type="text" formControlName="town" placeholder="Town"/>
            </div>
        </div>
        <div class="row f-row">
            <div class="col-50">
                <input  class="form-input " type="text" formControlName="email" placeholder="Email"/>
                <span *ngIf="cf.email.touched && cf.email.invalid">
                    <p class="text-danger">{{emailError()}}</p>
                </span>
            </div>
            <div class="col-50">
                <input  class="form-input" type="text" formControlName="password" placeholder="*********"/>
                <span *ngIf="cf.password.touched && cf.password.invalid">
                    <p class="text-danger">{{passwordError()}}</p>
                </span>
            </div>
        </div>
        <div class="row f-row">
            <div class="col-50">
                <input  class="form-input " type="text" formControlName="iban" formControlName="iban" placeholder="IBAN"/>
            </div>
        </div>
        <div class="row f-row px-3 my-2 ">
            <h5 class="text-bluish w-full text-left">Access To</h5>
            <div class="form-check mt-2">
                <input type="checkbox" id="name" formControlName="isName">
                <label for="name">Name</label>
              </div>
              <div class="form-check mt-2">
                <input type="checkbox" id="address" formControlName="isHouseStreetNumber">
                <label for="address">Street & House Number</label>
              </div>
              <div class="form-check mt-2">
                <input type="checkbox" id="post" formControlName="isPostalCode">
                <label for="post">Post Code</label>
              </div>
              <div class="form-check mt-2">
                <input type="checkbox" id="town" formControlName="isTown">
                <label for="town">Town</label>
              </div>
              <div class="form-check mt-2">
                <input type="checkbox" id="email" formControlName="isEmail">
                <label for="email">Email</label>
              </div>
              <div class="form-check mt-2">
                <input type="checkbox" id="password" formControlName="isPassword">
                <label for="password">Password</label>
              </div>
              <div class="form-check mt-2">
                <input type="checkbox" id="iban" formControlName="isIban">
                <label for="iban">IBAN</label>
              </div>
              <div class="form-check mt-4">
                  <button (click)="submit()" class="c-button py-2">Create Access For Franchisee</button>
              </div>
        </div>
    </form>
</div>
