.f-form{
    width: 100%;
    display: block;
}
.f-row{
    width: 98%;
    text-align: center;
    margin: 0 auto;
}
.col-50{
    float: left;
    width: 48%;
    margin: 0.8rem 1%;
}
.col-50 .form-input{
    outline: none !important;
    padding: 0.5rem  0.75rem;
    background-color: #ced4da56 !important;
    border:0px !important;
    width: 100%;
    height: 50px;
}
.col-50 .form-input:focus{
    outline: none !important;
}



/* This css is for normalizing styles. You can skip this. */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .form-check {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  .form-check input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-check label {
    position: relative;
    cursor: pointer;
    font-weight: 500;
  }
  
//   input[type="checkbox"]:checked ~ label:before {background: #fff no-repeat center;}

  .form-check label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #214369;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
  }
  .form-check input:checked {
    background-color: #214369;
  }
 
  .form-check input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 7px;
    width: 6px;
    height: 14px;
    border: solid #214369;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .img {
    height: 100px;
    background-color: antiquewhite;
    width: 100px;
    text-align: center;
    cursor: pointer;
    margin-left: 15px;
    padding: 30px;
  }
  
  .selected-img {
    margin-left: 50px;
  }

@media only screen and (max-width: 520px){
    .col-50{
        width: 98%;
        margin: 0.5rem 1%;
    }
}