/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


*, body{
    font-family: 'Poppins', sans-serif;
}
.switch input:checked + .switch-state{
    background-color: #214369 !important;
}
.logo-wrapper a{
    color:  #214369 !important;
}
.page-wrapper .page-body-wrapper .page-sidebar{
    top: 50px !important;
}
.page-wrapper .page-main-header{
    height: 50px !important;
}
.page-main-header .main-header-right{
    height: auto !important;
}
.page-main-header .main-header-left{
    width: auto !important;
}
.page-wrapper .page-body-wrapper .page-sidebar .sidebar-menu > li {
    background-color: #2c4d70 !important;
    padding: 0px 10px;
    margin: 7px 0px;
}
.page-wrapper .page-body-wrapper .page-sidebar .sidebar-menu{
    padding: 20px 0px !important;
}
.page-wrapper .page-body-wrapper .page-sidebar .sidebar-menu .sidebar-submenu > li > a{
    font-size: 0.8rem !important;
}
.page-wrapper .page-body-wrapper .page-sidebar{
    background-color: #214369 !important;
}
// .fa-circle{
    
// }

.txt-bold{
    font-weight: 500;
    border: 0px !important;
}
.f-big{
    font-size: 1rem;
}
.text-white{
    color: #fff;;
}
.text-green{
    color: rgb(52, 175, 62);;
}
.text-red{
    color: rgb(219, 16, 16);;
}
.text-bluish{
    color: #214369;
}
.bg-purple{
    background-color: #cec2ea !important;
}
.bg-white{
    background-color: #fff !important;
}
.bg-blue{
    background-color: #c7edee !important;
}
.bg-pink{
    background-color: #f3c0c5 !important;
}
.bg-gray{
    background-color: #e7ecf0 !important;
}
.txt-black{
    color: #333 !important;
}
.bg-bluish{
    background-color: #e7ecf0;
}
.txt-red{
    color: #f04741;
}
.bg-offwhite{
    background-color: #fbdeb4 !important;
}
.bg-greenish{
    background-color: #ccf6ce !important;
}
.icons{
    width: 24px;
    height: 24px;
}
.w-full{
    width: 100%;
    display: inline-block;
}

.s-button{
    background-color: #4a7cb1;
    color: #fff;
    width: 90%;
    margin-left:auto ;
    margin-right:auto ;
    text-align: center;
    outline: none;
    padding: 0.6rem 2rem !important;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}
.c-button{
    background-color: #214369;
    color: #fff;
    text-align: center;
    outline: none;
    padding: 0.6rem 2rem !important;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}
.rst-button{
    background-color: transparent;
    color: #214369;
    text-align: center;
    outline: none;
    padding: 0.4rem 2rem !important;
    border: 1px solid #214369;
    border-radius: 20px;
    cursor: pointer;
}
.action-icon{
    float: left;
    width: 40px;
    height: 40px;
    background-color: rgba(99, 177, 241, 0.438);
    border-radius: 4px;
}
.b-table > .thead1{
    background-color:#e7ecf0 !important ;
    color: #333 !important;
}
.b-table > thead{
    background-color:#214369 ;
    color: rgb(192,192,192);
    font-weight: 400;
}
.b-table > thead > th{
    padding: 0.7rem  !important;
}
// .b-table > thead >th{
//     padding: 0.4rem .7rem;
// }
.b-table >tbody > tr >td{
    padding: 0.4rem 0.6rem !important ;
    font-weight: 500;
    border-bottom: 1px solid rgb(197, 188, 188);
}
.nav-tabs{
    border: 0px !important;
    width: 100%;
    margin-bottom: 1rem !important;
   
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: #214369 !important;
    background-color: transparent !important;
    border-left: 0px  !important;
    border-right: 0px  !important;
    border-top: 0px  !important;
    border-bottom: 2px solid #214369 !important;
    font-weight: 500;
}
.nav-tabs a{
    color: rgb(197, 188, 188) !important;
    font-size: 1rem;
    margin-right: 0rem;
    font-weight: 500;
}
.nav-tabs .nav-link:hover {
    border-left: 0px  !important;
    border-right: 0px  !important;
    border-top: 0px  !important;
    border-bottom: 2px solid #214369 !important;
}
.tab-content{
    width: 100%;
}

.table-responsive{
    display: inline-table !important;
}
.tr1 > td{
    border: 0px !important;
    padding: 0.4rem !important;
}


@media only screen and (max-width: 768px){
    .table-responsive{
        display: block !important;
        
    }
 }