<div class="row px-3 pt-3 pb-2">
    <h3>Settings</h3>    
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{ loadingText }}</p>
</ngx-spinner>
  
<div class="row px-3 pt-3 pb-2 ">
    <ul ngbNav #nav="ngbNav"  [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1" (click)="onChange(active)">
        <a ngbNavLink>Bank Details</a>
        <ng-template ngbNavContent>
            <div class="bg-white">
                <div class="row p-3">
                    <div class="col-md-6">
                        <h5 class="mb-3 w-full"> Account of transfers</h5>
                        <div class="row f-row mb-2 mx-0 ">
                            <input  class="form-input" [(ngModel)]="bankTransfer.accountOwner" type="text" placeholder="Account Owner"/>
                        </div>
                        <div class="row f-row mb-2 mx-0 ">
                            <input  class="form-input" [(ngModel)]="bankTransfer.bankName" type="text" placeholder="Bank name"/>
                        </div>
                        <div class="row f-row mb-2 mx-0 ">
                            <input  class="form-input" [(ngModel)]="bankTransfer.bankCode" type="text" placeholder="Bank code"/>
                        </div>
                        <div class="row f-row mb-2 mx-0 ">
                            <input  class="form-input" [(ngModel)]="bankTransfer.bankAccountNumber" type="text" placeholder="Bank Account number"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="mb-3 w-full"> Account for DTA direct debits</h5>
                        <div class="row f-row mb-2 mx-0 ">
                            <input  class="form-input" type="text" placeholder="Account Owner"/>
                        </div>
                        <div class="row f-row mb-2 mx-0 ">
                            <input  class="form-input" type="text" placeholder="Bank name"/>
                        </div>
                        <div class="row f-row mb-2 mx-0 ">
                            <input  class="form-input" type="text" placeholder="Bank code"/>
                        </div>
                        <div class="row f-row mb-2 mx-0 ">
                            <input  class="form-input" type="text" placeholder="Bank Account number"/>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-6">
                        <h5 class="mb-3 w-full"> Account for SEPA direct debits</h5>
                        <div class="row f-row mb-2 mx-0 ">
                            <input  class="form-input" [(ngModel)]="bankSEPADebit.iban" type="text" placeholder="IBAN"/>
                        </div>
                        <div class="row f-row mb-2 mx-0 ">
                            <input  class="form-input" type="text" [(ngModel)]="bankSEPADebit.bic" placeholder="BIC"/>
                        </div>
                        <div class="row f-row mb-2 mx-0 ">
                            <input  class="form-input" type="text" [(ngModel)]="bankSEPADebit.creditorId" placeholder="Cridet ID"/>
                        </div>
                        <div class="row f-row mb-2 mx-0 ">
                            <textarea class="form-input-text" [(ngModel)]="bankSEPADebit.usage" placeholder="Usage"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row px-4 pt-3 pb-4 mb-5 bg-white">
                    <button class="c-button py-2" (click)="bankDetailSubmit()">Accept Changes</button>
                </div>
            </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2" (click)="onChange(active)">
        <a ngbNavLink>Base Data</a>
        <ng-template ngbNavContent>
          
            <div class="bg-white">
                <div class="row p-3">
                    <h5 class="text-black w-full px-3">My Details</h5>
                    <div class="col-md-6">
                        <div class="row f-row">
                            <div class="col-50">
                                <input placeholder="First Name"  class="form-input-half" [(ngModel)]="userDetails.fName" type="text"/>
                            </div>
                            <div class="col-50">
                                <input placeholder="Last Name" class="form-input-half" type="text" [(ngModel)]="userDetails.lName"/>
                            </div>
                        </div>
                        <div class="row f-row">
                            <div class="col-50">
                                <input placeholder="Post Code" class="form-input-half" type="tel" [(ngModel)]="userDetails.postalCode"/>
                            </div>
                            <div class="col-50">
                                <input  class="form-input-half" placeholder="Town" type="text" [(ngModel)]="userDetails.town"/>
                            </div>
                        </div>
                        <div class="row f-row my-2">
                            <input  class="form-input" type="text" [(ngModel)]="userDetails.email"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row f-row my-2">
                            <input placeholder="Address"  class="form-input" [(ngModel)]="userDetails.houseStreetNumber" type="text"/>
                        </div>
                        <!-- <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="address 1"/>
                        </div> -->
                    </div>
                </div>

                <div class="row p-3">
                    <h5 class="text-black w-full px-3">Backery Details</h5>
                    <div class="col-md-6">
                        <div class="row f-row my-2">
                            <input  class="form-input" type="text" [(ngModel)]="bakeryInfo.name" placeholder="Name"/>
                        </div>
                        <div class="row f-row">
                            <div class="col-50">
                                <input  class="form-input-half" [(ngModel)]="bakeryInfo.postalCode" type="tel" placeholder="Post Code"/>
                            </div>
                            <div class="col-50">
                                <input  class="form-input-half" type="text" [(ngModel)]="bakeryInfo.town" placeholder="Town"/>
                            </div>
                        </div>
                        <div class="row f-row my-2">
                            <input  class="form-input" [(ngModel)]="bakeryInfo.phone" type="text" placeholder="Phone Number"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row f-row my-2">
                            <input  class="form-input" [(ngModel)]="bakeryInfo.houseStreetNumber" type="text" placeholder="Street/Road Number"/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" [(ngModel)]="bakeryInfo.email" type="email" placeholder="Email"/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" [(ngModel)]="bakeryInfo.fax" type="text" placeholder="Fax Number"/>
                        </div>
                    </div>
                </div>

                <div class="row p-3">
                    <h5 class="text-black w-full px-3">Settings</h5>
                    <div class="col-md-6">
                        <div class="row f-row my-2">
                            <input  class="form-input" type="text" placeholder="Number of sample products"/>
                        </div>
                        <h5 class="text-black w-full p-0 my-3">Global Delivery Charges</h5>
                        <div class="row f-row mb-2">
                            <label class="lft pt-3 f5">Working Days </label>
                            <input  class="form-input-mini mx-1" [(ngModel)]="deliveryChargeInfo.workingDays"/>
                            <label class="lft pt-3">EUR </label>
                        </div>
                        <div class="row f-row mb-2">
                            <label class="lft pt-3 f5">Saturday </label>
                            <input  class="form-input-mini mx-1" [(ngModel)]="deliveryChargeInfo.saturday"/>
                            <label class="lft pt-3">EUR </label>
                        </div>
                        <div class="row f-row mb-2 ">
                            <label class="lft pt-3 f5">Sunday </label>
                            <input  class="form-input-mini mx-1" [(ngModel)]="deliveryChargeInfo.sunday"/>
                            <label class="lft pt-3">EUR </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                    </div>
                    <div class="form-check mt-4">
                        <button (click)="baseDataSubmit()" class="c-button py-2">Accept Changes</button>
                    </div>
                </div>
            </div>

        </ng-template>
      </li>
      <li [ngbNavItem]="3" (click)="onChange(active)">
        <a ngbNavLink>Billing Details</a>
        <ng-template ngbNavContent>
          <div class="bg-white">
            <div class="row p-3">
                <div class="col-md-6">
                    
                    <div class="row f-row my-2">
                        <input  class="form-input" type="text" value="express broetchen"/>
                    </div>
                    <div class="row f-row my-2">
                        <input  class="form-input" type="text" value="123141212321"/>
                    </div>
                    <div class="row f-row my-2">
                        <input  class="form-input" type="text" value="expressbroetchen@email.com"/>
                    </div>
                    <div class="row f-row my-2">
                        <input  class="form-input" type="text" value="www.expressbroetchen.com"/>
                    </div>
                    <div class="row f-row my-2">
                        <input  class="form-input" type="text" value="Free field 2 order fax"/>
                    </div>
                    <div class="row f-row my-2">
                        <textarea class="form-input-text" placeholder="Email Signature"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row f-row my-2">
                        <input  class="form-input" type="text" value="12312421"/>
                    </div>
                    <div class="row f-row mt-3">
                        <input  class="form-input" type="text" value="further address data"/>
                    </div>
                    <div class="row f-row my-4 form-checkbox">
                        <input type="checkbox" id="fee3">
                        <label for="fee3">VAT Exempt</label>
                    </div>
                    <div class="row f-row mt-3">
                        <input  class="form-input" type="text" value="free field 1 order fax"/>
                    </div>
                    <div class="row f-row mt-3">
                        <input  class="form-input" type="text" value="other 1"/>
                    </div>
                    <div class="row f-row mt-3">
                        <input  class="form-input" type="text" value="other 2"/>
                    </div>
                </div>
            </div>
            <div class="row p-0 m-0">
                <h5 class="text-black w-full px-3 py-4">Payment Option accepted</h5>
                <div class="col-md-4">
                    <h6 class="text-black w-full ">Payment options custom portal</h6>
                    <div class="row p-0 mx-0 f-row my-1 form-checkbox">
                        <input type="checkbox" id="fee3">
                        <label for="fee3">Cash Payments</label>
                    </div>
                    <div class="row p-0 mx-0 f-row my-1 form-checkbox">
                        <input type="checkbox" id="fee3" checked>
                        <label for="fee3">Direct debits</label>
                    </div>
                    <div class="row p-0 mx-0 f-row my-1 form-checkbox">
                        <input type="checkbox" id="fee3" checked>
                        <label for="fee3">Transfer</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <h6 class="text-black w-full">Payment options Supplier</h6>
                    <div class="row p-0 mx-0 f-row my-1 form-checkbox">
                        <input type="checkbox" id="fee3">
                        <label for="fee3">Cash Payments</label>
                    </div>
                    <div class="row p-0 mx-0 f-row my-1 form-checkbox">
                        <input type="checkbox" id="fee3" checked>
                        <label for="fee3">Direct debits</label>
                    </div>
                    <div class="row p-0 mx-0 f-row my-1 form-checkbox">
                        <input type="checkbox" id="fee3" checked>
                        <label for="fee3">Transfer</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-black w-full "><h6 class="text-black w-full px-3">Payment options custom portal</h6>
                    <div class="row p-0 mx-0 f-row my-1 form-checkbox">
                        <input type="checkbox" id="fee3">
                        <label for="fee3">Cash Payments</label>
                    </div>
                    <div class="row p-0 mx-0 f-row my-1 form-checkbox">
                        <input type="checkbox" id="fee3" checked>
                        <label for="fee3">Direct debits</label>
                    </div>
                    <div class="row p-0 mx-0 f-row my-1 form-checkbox">
                        <input type="checkbox" id="fee3" checked>
                        <label for="fee3">Transfer</label>
                    </div></div>
                    
                </div>
                <div class="form-check my-4">
                    <button class="c-button py-2">Accept Changes</button>
                </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="4" (click)="onChange(active)">
        <a ngbNavLink>Auto, Fax & Mail</a>
        <ng-template ngbNavContent>
            <div class="bg-white">
                <div class="row p-3">
                    <div class="col-md-6">
                        <h5 class="mb-3 w-full"> Automatic Fax Transmission</h5>
                        <div class="row f-row my-2 form-checkbox">
                            <input type="checkbox" id="act1">
                            <label for="act1">Activated</label>
                        </div>
                        <div class="row f-row my-2">
                            <label class="txt-bold f-big w-full text-left">Time of fax</label>
                            <select class="form-input-mini">
                                <option value="">01</option>
                                <option value="">02</option>
                                <option value="">03</option>
                                <option value="">04</option>
                                <option value="">05</option>
                                <option value="">06</option>
                                <option value="">07</option>
                                <option value="">08</option>
                            </select>
                            <span class="txt-bold f-big mx-2 py-3"> : </span>
                            <select class="form-input-mini">
                                <option value="">01</option>
                                <option value="">02</option>
                                <option value="">03</option>
                                <option value="">04</option>
                                <option value="">05</option>
                                <option value="">06</option>
                                <option value="">07</option>
                                <option value="">08</option>
                            </select>
                        </div>
                        <div class="row f-row mb-2 mx-0 ">
                            <textarea class="form-input-text" placeholder="details"></textarea>
                        </div>  
                    </div>
                    <div class="col-md-6">
                        <h5 class="mb-3 w-full"> Automatic Fax Transmission</h5>
                        <p class="my-2 f-big">
                            Lurom ipsum is simple dummy text content for placement.
                            Lurom ipsum is simple dummy text content for placement.
                            Lurom ipsum is simple dummy text content for placement.
                            Lurom ipsum is simple dummy text content for placement.
                            Lurom ipsum is simple dummy text content for placement.
                        </p>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-6">
                        <h5 class="mb-2 w-full"> Automatic Mailing</h5>
                        <div class="row f-row my-2 form-checkbox">
                            <input type="checkbox" id="act2">
                            <label for="act2">Activated</label>
                        </div>
                        <div class="row f-row my-2">
                            <label class="txt-bold f-big w-full text-left">Time of fax</label>
                            <select class="form-input-mini">
                                <option value="">01</option>
                                <option value="">02</option>
                                <option value="">03</option>
                                <option value="">04</option>
                                <option value="">05</option>
                                <option value="">06</option>
                                <option value="">07</option>
                                <option value="">08</option>
                            </select>
                            <span class="txt-bold f-big mx-2 py-3"> : </span>
                            <select class="form-input-mini">
                                <option value="">01</option>
                                <option value="">02</option>
                                <option value="">03</option>
                                <option value="">04</option>
                                <option value="">05</option>
                                <option value="">06</option>
                                <option value="">07</option>
                                <option value="">08</option>
                            </select>
                        </div>
                        <div class="row f-row mb-2 mx-0 ">
                            <textarea class="form-input-text" placeholder="Recipt fax number"></textarea>
                        </div>
                        <div class="row f-row my-3">
                            <input  class="form-input" type="text" value="broetchengold@email.com"/>
                        </div>
                        <div class="row p-0 mx-0 f-row my-1 form-checkbox" >
                            <input type="checkbox" id="status1" checked>
                            <label for="status1">Status notification in the event of failed fax attempts</label>
                        </div>
                        <div class="row p-0 mx-0 f-row my-1 form-checkbox">
                            <input type="checkbox" id="status2" checked>
                            <label for="status2">Send status notification of successful fax sent</label>
                        </div>
                        <div class="row p-0 mx-0 f-row my-1 form-checkbox">
                            <input type="checkbox" id="status3" checked>
                            <label for="status3">Automatically resend failed faxes</label>
                        </div> 
                        <div class="form-check px-0 my-4">
                            <button class="c-button py-2">Accept Changes</button>
                        </div> 
                    </div>
                </div>
            </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="5" (click)="onChange(active)">
        <a ngbNavLink>Deadline </a>
        <ng-template ngbNavContent>
            <div class="bg-white">
                <div class="row p-3  mx-3">
                    <div class="row f-row my-2">
                        
                        <label class="txt-bold f-big py-3 mr-2">Time of acceptance deadline</label>
                        <select class="form-input-mini">
                            <option value="">01</option>
                            <option value="">02</option>
                            <option value="">03</option>
                            <option value="">04</option>
                            <option value="">05</option>
                            <option value="">06</option>
                            <option value="">07</option>
                            <option value="">08</option>
                        </select>
                        <span class="txt-bold f-big mx-2 py-3"> : </span>
                        <select class="form-input-mini">
                            <option value="">01</option>
                            <option value="">02</option>
                            <option value="">03</option>
                            <option value="">04</option>
                            <option value="">05</option>
                            <option value="">06</option>
                            <option value="">07</option>
                            <option value="">08</option>
                        </select>
                    </div>
                    <div class="b-01 w-full">
                        <ul>
                        <li class="">
                        <input type="radio" id="rd1" name="selector">
                        <label for="rd1">Buld order on the weekend</label>
                        </li>
                        <li class="">
                        <input type="radio" id="rd2" name="selector">
                        <label for="rd2">Order possible any day</label>
                        </li>
                        </ul>
                    </div>
                    <div class="row f-row my-2">
                        <label class="txt-bold f-big py-3 mr-2">Send buld order on</label>
                        <select class="form-input-mini">
                            <option value="">Friday</option>
                            <option value="">Saturday</option>
                            <option value="">Sunday</option>
                            <option value="">Monday</option>
                        </select>
                    </div>
                    <div class="row f-row my-2">
                        <label class="txt-bold f-big py-3 mr-2">Collective order is valid Until</label>
                        <select class="form-input-mini">
                            <option value="">Friday</option>
                            <option value="">Saturday</option>
                            <option value="">Sunday</option>
                            <option value="">Monday</option>
                        </select>
                    </div>
                    <div class="form-check px-0 my-4">
                        <button class="c-button py-2">Accept Changes</button>
                    </div> 
                </div>
            </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="6" (click)="onChange(active)">
        <a ngbNavLink>Remainder</a>
        <ng-template ngbNavContent>
            <div class="bg-white">
                <div class="row p-3">
                    <div class="col-md-6">
                        <h5 class="my-2 w-full"> Memory</h5>
                        <div class="row f-row my-2">
                            <input  class="form-input" type="text" value="express broetchen"/>
                        </div>
                        <div class="row f-row mt-3">
                            <textarea class="form-input-text text-left">Lurom ipsum this just dummy text.Lurom ipsum this just dummy text.Lurom ipsum this just dummy text. Lurom ipsum this just dummy text.Lurom ipsum this just dummy text
                            </textarea>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <h5 class="mb-3 w-full"> Automatic Fax Transmission</h5>
                        <p class="my-2 f-big">
                            Lurom ipsum is simple dummy text content for placement.
                            Lurom ipsum is simple dummy text content for placement.
                            Lurom ipsum is simple dummy text content for placement.
                            Lurom ipsum is simple dummy text content for placement.
                            Lurom ipsum is simple dummy text content for placement.
                        </p>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-6">
                        <h5 class="my-3 w-full my-2"> 1 warning</h5>
                        <div class="row f-row my-2">
                            <input  class="form-input" type="text" value="1 warning"/>
                        </div>
                        <div class="row f-row mt-3">
                            <textarea class="form-input-text text-left">Lurom ipsum this just dummy text.Lurom ipsum this just dummy text.Lurom ipsum this just dummy text. Lurom ipsum this just dummy text.Lurom ipsum this just dummy text
                            </textarea>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="2"/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="12 "/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="Pay the full amount upto the {first} "/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="my-3 w-full my-2"> 2 warning</h5>
                        <div class="row f-row my-2">
                            <input  class="form-input" type="text" value="1 warning"/>
                        </div>
                        <div class="row f-row mt-3">
                            <textarea class="form-input-text text-left">Lurom ipsum this just dummy text.Lurom ipsum this just dummy text.Lurom ipsum this just dummy text. Lurom ipsum this just dummy text.Lurom ipsum this just dummy text
                            </textarea>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="2"/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="12 "/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="Pay the full amount upto the {first} "/>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-6">
                        <h5 class="my-3 w-full my-2"> REturn Debit info</h5>
                        <div class="row f-row my-2">
                            <input  class="form-input" type="text" value="Return debit of you bread delivery invoice"/>
                        </div>
                        <div class="row f-row mt-3">
                            <textarea class="form-input-text text-left">Lurom ipsum this just dummy text.Lurom ipsum this just dummy text.Lurom ipsum this just dummy text. Lurom ipsum this just dummy text.Lurom ipsum this just dummy text
                            </textarea>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="2"/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="12 "/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="Pay the full amount upto the {first} "/>
                        </div>
                    </div>
                </div>
                <div class="form-check my-4">
                    <button class="c-button py-2">Accept Changes</button>
                </div>
              </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="7" (click)="onChange(active)">
        <a ngbNavLink>Serial Letter</a>
        <ng-template ngbNavContent>
            <div class="bg-white">
                <div class="row p-3">
                    <div class="col-md-6">
                        
                        <div class="row f-row my-2">
                            <input  class="form-input" type="text" value="express broetchen"/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="Gabrial sufi"/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="wartair dargai"/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="12312 islamabad"/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="Tax number "/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row f-row my-2">
                            <input  class="form-input" type="text" value="123112421"/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="212323112312"/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="expressbroetchen@gmail.com"/>
                        </div>
                        <div class="row f-row mt-3">
                            <input  class="form-input" type="text" value="www.expressbroetchen.com"/>
                        </div>
                    </div>
                </div>
                <div class="row p-0 m-0">
                    <h5 class="text-black w-full px-3 py-4">Payment Option accepted</h5>
                    <button class="c-button bg-gray txt-black mr-3">
                        <img src="../../../../assets/images/bread/31.png" class="mr-2"/>
                        Download
                    </button >
                    <button class="c-button bg-gray txt-black">
                        <img src="../../../../assets/images/bread/35.png" class="mr-2"/>
                        Upload new template
                    </button>
                </div>
                <div class="form-check my-4">
                    <button class="c-button py-2">Accept Changes</button>
                </div>
              </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>