<div class="row px-3 pt-3 pb-2">
    <h3>Edit Delivery Area</h3>    
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{ loadingText }}</p>
</ngx-spinner>
<div class="row px-3 pt-3 pb-2 bg-white">
    <div class="col-md-6">
        <h6 class="w-full">Details</h6>
        <div class="row f-row mb-2 mx-0 ">
            <input [(ngModel)]="deliveryArea.postCode" class="form-input" type="tel" placeholder="Postcode"/>
            <span *ngIf="isSubmitted && !deliveryArea.postCode">
                <p class="text-danger">Post Code is required</p>
            </span>
            <span *ngIf="isSubmitted && this.deliveryArea.postCode.length !== 5">
                <p class="text-danger">Invalid Post Code</p>
            </span>
        </div>
        <div class="row f-row mx-0 ">
            <textarea [(ngModel)]="deliveryArea.description" placeholder="Description" class="form-input-text"></textarea>
        </div>
        <div class="row f-row my-2 mx-0 ">
            <select class="form-input" [(ngModel)]="deliveryArea.state">
                <option value="" selected disabled>Select State</option>
                <option value="Baden-Wuerttemberg">Baden-Wuerttemberg</option>
                <option value="Bavaria">Bavaria</option>
                <option value="Berlin">Berlin</option>
                <option value="Brandenburg">Brandenburg</option>
                <option value="Bremen">Bremen</option>
                <option value="Hamburg">Hamburg</option>
                <option value="Hesse">Hesse</option>
                <option value="Mecklenburg-Western Pomerania">Mecklenburg-Western Pomerania</option>
                <option value="Lower Saxony">Lower Saxony</option>
                <option value="North Rhine-Westphalia">North Rhine-Westphalia</option>
                <option value="Rhineland-Palatinate">Rhineland-Palatinate</option>
                <option value="Saarland">Saarland</option>
                <option value="Saxony">Saxony</option>
                <option value="Saxony-Anhalt">Saxony-Anhalt</option>
                <option value="Schleswig-Holstein">Schleswig-Holstein</option>
                <option value="Thuringia">Thuringia</option>
            </select>
            <span *ngIf="isSubmitted && !deliveryArea.state">
                <p class="text-danger">state is required</p>
            </span>
        </div>
    </div>
    <div class="col-md-3">
        <h6 class="w-full">Regular Delivery Days</h6>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" [checked]="checkRegularWeekDays(1)" id="mon1" (click)="onAddRegularWeekDays($event.target.checked, 1)">
            <label for="mon1">Monday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="tue1" [checked]="checkRegularWeekDays(2)" (click)="onAddRegularWeekDays($event.target.checked, 2)">
            <label for="tue1">Tuesday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="wed1" [checked]="checkRegularWeekDays(3)" (click)="onAddRegularWeekDays($event.target.checked, 3)">
            <label for="wed1">Wednesday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="thu1" [checked]="checkRegularWeekDays(4)" (click)="onAddRegularWeekDays($event.target.checked, 4)">
            <label for="thu1">thursday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="fri1" [checked]="checkRegularWeekDays(5)" (click)="onAddRegularWeekDays($event.target.checked, 5)">
            <label for="fri1">Friday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="sat1" [checked]="checkRegularWeekDays(6)" (click)="onAddRegularWeekDays($event.target.checked, 6)">
            <label for="sat1">Saturday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="sun1" [checked]="checkRegularWeekDays(7)" (click)="onAddRegularWeekDays($event.target.checked, 7)">
            <label for="sun1">Sunday</label>
        </div>
    </div>
    <div class="col-md-3">
        <h6 class="w-full">Sample Delivery Days</h6>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="mon2" [checked]="checkSampleWeekDays(1)" (click)="onAddSampleWeekDays($event.target.checked, 1)">
            <label for="mon2">Monday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="tue2" [checked]="checkSampleWeekDays(2)" (click)="onAddSampleWeekDays($event.target.checked, 2)">
            <label for="tue2">Tuesday</label>\
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="wed2" [checked]="checkSampleWeekDays(3)" (click)="onAddSampleWeekDays($event.target.checked, 3)">
            <label for="wed2">Wednesday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="thu2" [checked]="checkSampleWeekDays(4)" (click)="onAddSampleWeekDays($event.target.checked, 4)">
            <label for="thu2">thursday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="fri2" [checked]="checkSampleWeekDays(5)" (click)="onAddSampleWeekDays($event.target.checked, 5)">
            <label for="fri2">Friday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="sat2" [checked]="checkSampleWeekDays(6)" (click)="onAddSampleWeekDays($event.target.checked, 6)">
            <label for="sat2">Saturday</label>
        </div>
        <div class="row f-row my-1 mx-0 form-checkbox">
            <input type="checkbox" id="sun2" [checked]="checkSampleWeekDays(7)" (click)="onAddSampleWeekDays($event.target.checked, 7)">
            <label for="sun2">Sunday</label>
        </div>
    </div>
</div>
<div class="row px-3 pt-3 pb-2 bg-white">
    <div class="col-md-6 m-0">
        <h6 class="w-full">Order refrence regular ordr</h6>
        <div class="row f-row mx-0 ">
            <textarea [(ngModel)]="deliveryArea.regularReference" placeholder="Type Here....." class="form-input-text"></textarea>
        </div>
        <p class="text-bold my-3">
            It is a long established fact that a reader will be distracte
             by the readable content of a page when looking
        </p>
    </div>
    <div class="col-md-6 m-0">
        <h6 class="w-full">Ordering information trail order</h6>
        <div class="row f-row mx-0 ">
            <textarea [(ngModel)]="deliveryArea.trailInformation" placeholder="Type Here....." class="form-input-text"></textarea>
        </div>
        <p class="text-bold my-3">
            It is a long established fact that a reader will be distracte
             by the readable content of a page when looking
        </p>
    </div>
</div>
<div class="row px-4 pt-3 pb-4 mb-5 bg-white">
    <button (click)="submit()" class="c-button py-2">Edit Delivery Area</button>
</div>