.form-input{
    outline: none !important;
    padding: 0.5rem  0.75rem;
    background-color: #ced4da56 !important;
    border:0px !important;
    width: 100%;
    height: 50px;
}
.form-input-text{
    outline: none !important;
    padding: 0.5rem  0.75rem;
    background-color: #ced4da56 !important;
    border:0px !important;
    width: 100%;
    height: 140px;
}
.form-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  .form-input::after{
      right: 1rem !important;
  }
  
  .form-checkbox label {
    position: relative;
    cursor: pointer;
    font-weight: 500;
  }
  
//   input[type="checkbox"]:checked ~ label:before {background: #fff no-repeat center;}

  .form-checkbox label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #214369;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
  }
  .form-checkbox input:checked {
    background-color: #214369;
  }
 
  .form-checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 6px;
    width: 6px;
    height: 9px;
    border: solid #214369;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }