<div class="row px-3 pt-3 pb-2">
    <h3>Tickets</h3>    
</div>

<div class="row px-3 my-3">
    <table class="b-table table-responsive bg-white">
        <thead>
            <th>FROM</th>
            <th>CUSTOMER</th>
            <th>CATEGORY</th>
            <th>SUBJECT</th>
            <th>CREATED ON</th>
            <th>DETAILS</th>
        </thead>
        <tbody>
            <!-- <tr>
                <td>Zain Ali</td>
                <td>waseem</td>
                <td>Order</td>
                <td>Shipping address</td>
                <td>12/1/2021</td>
                <td>
                    <img src="../../../../assets/images/bread/9.png" />
                </td>
            </tr> -->
        </tbody>
    </table>
</div>